$mat-arc-primary: (
  50 : #e7e1ed,
  100 : #c3b4d2,
  200 : #9b82b4,
  300 : #725095,
  400 : #542b7f,
  500 : #360568,
  600 : #300460,
  700 : #290455,
  800 : #22034b,
  900 : #16013a,
  A100 : #9670ff,
  A200 : #703dff,
  A400 : #4a0aff,
  A700 : #3f00f0,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$mat-arc-accent: (
  50 : #ebe5f0,
  100 : #cebfdb,
  200 : #ad95c3,
  300 : #8c6aaa,
  400 : #744a98,
  500 : #5b2a86,
  600 : #53257e,
  700 : #491f73,
  800 : #401969,
  900 : #2f0f56,
  A100 : #bb8dff,
  A200 : #9d5aff,
  A400 : #7f27ff,
  A700 : #700eff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$mat-arc-warn: (
  50: #f9e0e0,
  100: #f0b3b3,
  200: #e68080,
  300: #db4d4d,
  400: #d42626,
  500: #cc0000,
  600: #c70000,
  700: #c00000,
  800: #b90000,
  900: #ad0000,
  A100: #ffd7d7,
  A200: #ffa4a4,
  A400: #ff7171,
  A700: #ff5858,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
